.completedTask {
    background-color: green;
}

.incompletedTask {
    background-color: yellow;
}

.passing {
    background-color: green;
}

.failing {
    background-color: red;
}

.selected {
    background-color: lightblue;
}