include includes/head
body
    h1 Welcome to a user platform 
    h2 No functionality, just pure CRUD... no, not even that... just C - C for create
    include includes/createUserForm
    include includes/usersTable