
#board {
    display: grid;
    border: 2px solid black;
    grid-template-columns: 100px auto 100px;
    grid-template-areas: 
    ". roll-dice-section ."
    ". score-section .";
}

#roll-dice-section{
    grid-area: roll-dice-section;
    display: grid;
    border: 2px solid black;
    grid-template-columns: 50px auto auto 50px;
    grid-template-rows: auto;
    grid-template-areas: 
    ". dice-roll-overview dice-roll-overview ."
    ". turn-count-overview roll-dice-interaction .";
}

#dices {
    grid-area: dice-roll-overview;
    display: flex;
    border: 2px solid black;
    justify-content: center;
    gap: 10px;
}

#dices > input[type="checkbox"] {
    appearance: none;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#dices > input.selected {
    border: 5px solid orange;
}

#dices > input.locked {
    border: 1px solid red;
}

#turn-overview {
    grid-area: turn-count-overview;
    display: flex;
    border: 2px solid black;
    justify-content: left;
    gap: 10px;
}

#roll-dice-interaction {
    grid-area: roll-dice-interaction;
    display: flex;
    border: 2px solid black;
    justify-content: right;
}

#roll-dice-button {
    width: 120px;
    height: 50px;
}

/*==========================================*/

#dice-score-section {
    grid-area: score-section;
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    width: 100%;
}

.score-card {
    display: flex;
    padding-left: 15%;
    border: 2px solid black;
    padding-top: 20px;
    gap: 100px;
} 

.score-card > label {
    display: flex;
    gap: 10px
}

.score-card > label > input {
    width: 25px;
    height: auto;
}

#score-name > input.locked {
    border: 2px solid black;
}