form(action="/login", method="post") 
    label username: 
        input(type="text", name="username" required)
    label password:
        input(type="password", name="password" required)
    input(type="submit", value="Login")