
h3 Indkøbskurv
table
    thead
    tr
        th Antal
        th Betegnelse
        th Beloeb
    tbody 
    each varelinje in indkoebskurv
        tr
        td= varelinje.antal
        td= varelinje.betegnelse
        td= varelinje.samletPris
