
h1 Vareoversigt
table
    thead
        tr
            th Betegnelse
            th Pris
            th id
            th 
    tbody
    each vare in varer
        tr.vareItemRow
            td= vare.betegnelse
            td= vare.pris
            td.vareIdCell= vare.id
            td.tilfoejVareInteraktion
                input.antalVareInput(type="number" required)
                button.tilfoejVareKnap Tilføj
