include includes/head

ul#listOfLinks
    each file in files
        - const isFolder = !file.includes('.')
        li.linkElement
            a(href=`${file}`)= file
            if isFolder
                button.removeDirectoryButton(type="button" data-file=`${file}`) -