form(action="/selection", method="post")
    label nationality:
        input(type="text", name="nationality" required)
    label quantity:
        input(type="number", name="quantity" required)
    input(type="submit", value="apply")